import type { FC } from 'react';
import type { {{pascalName}}Props } from './types';

const {{pascalName}}: FC<{{pascalName}}Props> = ({
  name
}) => {
  return (
    <div>
      <h1>{name}</h1>
    </div>
  );
};

export default {{pascalName}};